include mixins

doctype html
html(lang="en")
    +head
    
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column  
            +navbar('editNota')
            - var error = error
            +error(error)
            main.inner.cover(role='main')
                h1.cover-heading Editar Nota
                - var nota= nota
                form.needs-validation.form-signin(method='POST' action=`/updateNota/${nota._id}?_method=PUT`)
                    input(type='hidden' name='_method' value='PUT')
                    label(for='title') Titulo:
                    input#title.form-control(type='text' name='titulo' required='' value=`${nota.title}` )
                    hr
                    label(for='desc') Descripción:
                    input#desc.form-control(type='text' name='descripcion' required='' value=`${nota.description}` )
                    hr
                    - var values= usersName
                    label(for='aaa') Usuario:
                    select#aaa.form-control(name='user')
                        option= nota.user
                        each val in values
                            if val.nombre===nota.user
                                option Anónimo
                            else
                                option= val.nombre
                    hr
                    .d-flex.justify-content-between.align-items-center
                        button.btn.btn-outline-danger(type='button' data-dismiss='modal') Cancelar
                        button.btn.btn-outline-primary(type='submit') Actualizar Nota

            +footer
        
